<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asyncproject.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".thread.ThreadActivity">
        </activity>
        <activity android:name=".weakthread.WeakThreadActivity">
        </activity>
        <activity android:name=".asynctask.AsyncActivity">
        </activity>
        <activity android:name=".intentservice.IntentActivity">
        </activity>
        <activity android:name=".executor.ExecutorActivity">
        </activity>
        <activity android:name=".handler.HandlerActivity">
        </activity>
        <activity android:name=".bindservice.ServiceActivity">
        </activity>
        <activity android:name=".timer.TimerActivity">
        </activity>

        <activity android:name=".rxjava.RxJavaSample1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".rxjava.RxJavaSample2">
        </activity>
        <activity android:name=".rxjava.RxJavaSample3">
        </activity>
        <activity android:name=".rxjava.RxJavaSample4">
        </activity>
        <activity android:name=".rxjava.RxJavaSample5">
        </activity>

        <service android:name=".intentservice.MyIntentService"/>
        <service android:name=".bindservice.MyService"/>
    </application>

</manifest>
